@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Big Shoulders Display";
  letter-spacing: 5px;
  font-size: 58px;
  font-weight: 700;
}
p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #d5966c 0%, #151515 55%);
  color: white;
}

.inner-header > img {
  padding: 15px;
}
.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 600px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 20px;
  }
}
.c-button-location {
  position: absolute;
  top: 60%;
  left: 35%;
}
.c-button-location-2 {
  position: absolute;
  top: 60%;
  right: 35%;
}
@media only screen and (max-width: 600px) {
  .c-button-location {
    position: absolute;
    top: 60%;
    left: 25%;
  }
  .c-button-location-2 {
    position: absolute;
    top: 75%;
    right: 25%;
  }
  h1 {
    font-family: "Big Shoulders Display";
    letter-spacing: 5px;
    font-size: 48px;
    font-weight: 700;
  }
}

.c-button-location > a {
  text-decoration: none;
  color: white;
  background-color: #151515;
  padding: 18px 18px 15px 0px;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 400;
  border: 1px solid #d5966c;
  border-radius: 25px;
}
.c-button-location > a:before {
  color: white;
  background-color: #d5966c;
  content: " 〈  ";
  padding: 18px 11px 15px 8px;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 400;
  border-radius: 24px;
}
.c-button-location > a:hover {
  background-color: #d5966c;
  color: #151515;
}
.c-button-location > a:hover:before {
  background-color: #151515;
  color: #d5966c;
}

.c-button-location-2 > a {
  text-decoration: none;
  color: white;
  background-color: #151515;
  padding: 18px 0px 15px 18px;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 400;
  border: 1px solid #d5966c;
  border-radius: 25px;
}
.c-button-location-2 > a:after {
  color: white;
  background-color: #d5966c;
  content: "  〉 ";
  padding: 18px 5px 15px 15px;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 400;
  border-radius: 24px;
}
.c-button-location-2 > a:hover {
  background-color: #d5966c;
  color: #151515;
}
.c-button-location-2 > a:hover:after {
  background-color: #151515;
  color: #d5966c;
}
